<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_merge_before">
        <observer name="disable_merging_gifts" instance="MageSuite\FreeGift\Observer\DisableMergingGifts" />
    </event>

    <event name="sales_quote_remove_item">
        <observer name="remove_related_gifts" instance="MageSuite\FreeGift\Observer\DeleteItemFromCart" />
    </event>

    <event name="sales_quote_collect_totals_before">
        <observer name="reset_gift_items" instance="MageSuite\FreeGift\Observer\ResetGiftItems" />
    </event>

    <event name="sales_quote_collect_totals_after">
        <observer name="add_gifts_after_collecting_totals" instance="MageSuite\FreeGift\Observer\AddGiftsAfterCollectingTotals" />
    </event>

    <event name="controller_action_predispatch_checkout_cart_couponPost">
        <observer name="remove_coupon_related_gift" instance="MageSuite\FreeGift\Observer\RemoveCouponRelatedGift" />
    </event>
</config>
