<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Metadata\ValueProvider">
        <plugin name="freeproduct" type="MageSuite\FreeGift\Plugin\SalesRule\Model\MetadataValueProvider" sortOrder="10" />
    </type>

    <type name="Magento\SalesRule\Model\Rule\Condition\Product">
        <plugin name="rename_price_condition_attribute" type="MageSuite\FreeGift\Plugin\Rule\Condition\RenamePriceCondition" sortOrder="1" />
    </type>
</config>
